body { padding: 10px 10px; }
header > div , section { padding: 0px 10px; }
h1 { color: blue; }
output { font-weight: bold; }
footer { font-size: x-small; padding: 10px 10px; }
* + output, * + button, #download { margin-left: 4px; }
